<footer>
    <div class="row">
        <div class="col"></div>

        <div class="col-lg-5 col-md-4 col-sm-12" id="footer-left">
            <p>&copy; {{ "now"|date('Y') }} - Marine Lancelin</p>
        </div>

        <div class="col-lg-5 col-md-7 col-sm-12" id="footer-right">
            <p><a href="{{ path('mentions_legales') }}">Mentions légales</a></p>

            <p><a href="{{ path('homepage') }}#contact">Contact</a></p>

            <div id="footer-rs">
                <a href="https://fr.linkedin.com/in/marine-lancelin-a4b25389" target="_blank" title="Linkedin"><img src="{{ asset('picto/linkedin.svg') }}" alt="LinkedIn"></a>
                <a href="https://github.com/marinesl" target="_blank" title="Github"><img src="{{ asset('picto/github.svg') }}" alt="Github"></a>
                <a href="https://www.instagram.com/marines_l/?hl=fr" target="_blank" title="Instragram"><img src="{{ asset('picto/instagram.svg') }}" alt="Instagram"></a>
                <a href="https://www.malt.fr/profile/marinelancelin" target="_blank" title="Malt"><img src="{{ asset('picto/malt.svg') }}" alt="Malt"></a>
            </div>
        </div>

        <div class="col"></div>
    </div>
</footer>