{% extends 'base_site.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body_class %}site homepage{% endblock %}

{% block body %}

    {# Introduction #}
    <div class="row" id="introduction">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Hello, je m'appelle Marine Lancelin<br>et je suis développeuse PHP Symfony</h1>
            <p>Diplomée d’un master <span class="bold">Développement Web</span> en&nbsp;2019, je suis actuellement à&nbsp;la&nbsp;<span class="bold">recherche d’un&nbsp;CDI</span>, n’hésitez pas à&nbsp;me&nbsp;contacter.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet augue.</p>
            <button class="btn"> <img src="{{ asset('picto/download.svg') }}" alt="Télécharger"> Télécharger mon CV</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="{{ asset('images/mac-header.png') }}" alt="Mac avec Captain America en background de bureau et une bière sur le côté droit" id="introduction-mac">
            <img src="{{ asset('images/console-header.svg') }}" alt="Console avec des commandes Symfony" id="introduction-console">
            <img src="{{ asset('images/photo-header.png') }}" alt="Photo de moi enfant avec un chien" id="introduction-photo">
        </div>
    </div>

    <div class="spacer"></div>

    {# A propos #}
    <div class="row" id="apropos">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="apropos-bloc">
                <img src="{{ asset('picto/quote.svg') }}" alt="Guillemets" id="apropos-guillemet">
                <p id="apropos-quote">There's nothing more<br>badass than being yourself <img src="{{ asset('forme/underline.svg') }}" alt="Soulignement" id="apropos-soulignement"></p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>À propos de moi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet augue.</p>
            <p>Morbi imperdiet in odio ac tincidunt. Mauris rutrum accumsan justo id ornare. Etiam gravida magna rutrum, aliquet ante vitae, pellentesque eros. Etiam finibus libero elit, non posuere eros cursus nec. Nulla sem lorem, suscipit vitae metus vitae.</p>
        </div>
    </div>

    <div class="spacer"></div>

    {# Compétences #}
    <div class="row" id="competences">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Mes compétences</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3>Développement</h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <ul>
                        <li>PHP</li>
                        <li>SQL</li>
                        <li>Node JS</li>
                        <li>Angular</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <ul>
                        <li>jQuery</li>
                        <li>Symfony</li>
                        <li>Bootstrap</li>
                        <li>WordPress</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Outils</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li>Visual Studio</li>
                                <li>FileZilla</li>
                                <li>Google Chrome</li>
                                <li>Putty</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li>Figma</li>
                                <li>Paint</li>
                                <li>Windows</li>
                                <li>iOS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Certifications</h3>
                            <img src="{{ asset('images/opquast.png') }}" alt="Opquast" class="competences-certif">
                            <img src="{{ asset('images/toeic.png') }}" alt="Toeic" class="competences-certif">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="{{ asset('forme/blob-competences.svg') }}" alt="Tâche verte" id="competences-forme">
            <img src="{{ asset('images/macbook-symfony.png') }}" alt="Macbook avec du code Symfony" id="competences-macbook">
        </div>
    </div>

    <div class="spacer"></div>

    {# Parcours scolaire #}
    <div class="row" id="scolaire">

        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-6 col-md-12 col-sm-12" id="scolaire-intro">
                    <h2>Mon parcours scolaire</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>
                </div>
                <div class="col"></div>
            </div>

            <div class="row" id="scolaire-parcours">
                <hr>

                <div class="col"></div>
                <div class="col-lg-3 col-md-4 col-sm-12 parcours">
                    <div>
                        <p>BTS Services informatiques<br>aux&nbsp;organisations</p>
                        <p>de 2013 à 2015</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>
                        <p>ITIC PARIS<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 parcours">
                    <div>
                        <p>Licence Pro. Systèmes<br>Informatiques et&nbsp;Logiciel</p>
                        <p>de 2015 à 2016</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>
                        <p>CFA UPMC<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 parcours">
                    <div>
                        <p>Master<br>Développement Web</p>
                        <p>de 2017 à 2019</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>
                        <p>ECV Digital<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col"></div>
            </div>

        </div>

    </div>

    {# Parcours professionnel #}
    <div class="row" id="professionnel">

        <div class="col-lg-6 col-md-6 col-sm-12 left">
            <h2>Mon parcours pro</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p>
        </div>
    </div>

    <div class="row" id="professionnel-2">

        <div class="col-lg-6 col-md-6 col-sm-12 left">
            <img src="{{ asset('images/parcours-pro.png') }}" alt="Forme verte sur un écran d'ordinateur portable" class="forme">

            <div>
                {# TODO: Demander picto à Pierre #}
                <p>Bla bla pour en savoir plus sur moi, n’hésitez pas à&nbsp;télécharger mon&nbsp;CV complet au&nbsp;format PDF (et&nbsp;à&nbsp;l’accrocher au-dessus de&nbsp;votre bureau)&nbsp;:</p>
                <button class="btn"> <img src="{{ asset('picto/download.svg') }}" alt="Télécharger"> Télécharger mon CV</button>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 right">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>Développeuse web freelance</p>
                            <p>Paris (75) &#149; <span>de septembre 2019 à aujourd’hui</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td class="bullet">2019</td>
                    </tr>
                    <tr>
                        <td>
                            <p>CIMAYA</p>
                            <p>Paris (75) &#149; <span>de février 2019 à août 2019</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td class="bullet">2016</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Emedia Communication</p>
                            <p>Saint-Maur (94) &#149; <span>de octobre 2015 à novembre 2015</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td class="bullet">2015</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Banque de gestion Edmond de Rothschild</p>
                            <p>Paris (75) &#149; <span>août 2015</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Hôpital Necker-Enfants malades &amp; Hôpital Saint-Louis</p>
                            <p>Paris (75) &#149; <span>octobre 2014 à juin 2014</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td class="bullet">2014</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Hôpital Necker-Enfants malades</p>
                            <p>Paris (75) &#149; <span>juin 2014 à juillet 2014</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>HSBC</p>
                            <p>Paris (75) &#149; <span>août 2013</span></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum blabla bla bum.</p>
                        </td>
                        <td class="bullet">2013</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

{% endblock %}
