{% extends 'base_site.html.twig' %}

{% block title %}Marine LANCELIN - Présentation{% endblock %}

{% block body_class %}site homepage{% endblock %}

{% block body %}

    {# Introduction #}
    <div class="row" id="introduction">
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12">
            <h1>Hello, je m'appelle Marine&nbsp;LANCELIN<br>et je suis développeur PHP Symfony</h1>
            <p>Diplômée d’un Master <span class="bold">Développement Web</span> en&nbsp;2019, je&nbsp;suis actuellement <span class="bold">en&nbsp;CDI</span> dans une&nbsp;agence de&nbsp;communication éditoriale.</p>
            <p>Je&nbsp;réalise aussi des&nbsp;sites internet vitrines en&nbsp;<span class="bold">freelance</span>.</p>
            <button class="btn"> <a href="{{ asset('pdf/CV-Marine-LANCELIN.pdf') }}" target="_blank" title="Télécharger mon CV"> <img src="{{ asset('picto/download.svg') }}" alt="Télécharger"> Télécharger mon CV</a></button>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <img src="{{ asset('images/mac-header.png') }}" alt="Mac avec Captain America en background de bureau et une bière sur le côté droit" id="introduction-mac">
            <img src="{{ asset('images/console-header.svg') }}" alt="Console avec des commandes Symfony" id="introduction-console">
            <img src="{{ asset('images/photo-header.png') }}" alt="Photo de moi enfant avec un chien" id="introduction-photo">
        </div>
    </div>

    <div class="spacer"></div>

    {# A propos #}
    <div class="row" id="apropos">
        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 left">
            <div id="apropos-bloc">
                <img src="{{ asset('picto/quote.svg') }}" alt="Guillemets" id="apropos-guillemet">
                <p id="apropos-quote">There's nothing more<br>badass than being yourself <img src="{{ asset('forme/underline.svg') }}" alt="Soulignement" id="apropos-soulignement"></p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 right">
            <h2>À propos de moi</h2>
            <p>J'ai découvert les algorithmes et&nbsp;le&nbsp;code en&nbsp;Terminale&nbsp;S en&nbsp;suivant la&nbsp;spécialité <span class="bold">Informatique et&nbsp;Science du&nbsp;Numérique</span>, pendant laquelle j'ai développé un&nbsp;Puissance&nbsp;4 en&nbsp;C#.</p>
            <p>Durant mes cinq années d'études, le&nbsp;<span class="bold">Back-End</span> est dévenu mon&nbsp;domaine de&nbsp;prédilection, le&nbsp;<span class="bold">PHP</span> ma&nbsp;spécialité et&nbsp;<span class="bold">Symfomy</span> mon&nbsp;coup de&nbsp;c&#339;ur.</p>
            <p>Ma citation me définit comme une&nbsp;personne qui assume <span class="bold">ses&nbsp;choix et&nbsp;ses&nbsp;goûts&nbsp;</span>: la&nbsp;Chouffe est ma&nbsp;bière préférée, Captain American est mon&nbsp;Avenger adoré et&nbsp;PHP mon&nbsp;langage choisi.</p>
        </div>
    </div>

    <div class="spacer"></div>

    {# Compétences #}
    <div class="row" id="competences">
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12">
            <h2>Mes compétences</h2>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3>Développement</h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <ul>
                        <li>PHP</li>
                        <li>SQL</li>
                        <li>Node JS</li>
                        <li>Angular</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <ul>
                        <li>jQuery</li>
                        <li>Symfony</li>
                        <li>Bootstrap</li>
                        <li>WordPress</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Outils</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <ul>
                                <li>Visual Studio</li>
                                <li>FileZilla</li>
                                <li>Google Chrome</li>
                                <li>Putty</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <ul>
                                <li>Figma</li>
                                <li>GitHub</li>
                                <li>Windows</li>
                                <li>iOS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Certifications</h3>
                            <img src="{{ asset('images/opquast.png') }}" alt="Opquast" class="competences-certif">
                            <img src="{{ asset('images/toeic.png') }}" alt="Toeic" class="competences-certif">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12">
            <img src="{{ asset('forme/blob-competences.svg') }}" alt="Tâche verte" id="competences-forme">
            <img src="{{ asset('images/macbook-symfony.png') }}" alt="Macbook avec du code Symfony" id="competences-macbook">
        </div>
    </div>

    <div class="spacer"></div>

    {# Parcours scolaire #}
    <div class="row" id="scolaire">

        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12" id="scolaire-intro">
                    <h2>Mon parcours scolaire</h2>
                    <p>Il était important pour moi d'aller au&nbsp;plus loin dans mes&nbsp;études, de&nbsp;me&nbsp;challenger.</p>
                </div>
                <div class="col"></div>
            </div>

            <div class="row" id="scolaire-parcours">
                <hr>

                <div class="col"></div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-11 col-11 parcours p1">
                    <div>
                        <p>BTS Services informatiques<br>aux&nbsp;organisations</p>
                        <p>de 2013 à 2015</p>
                        <p>Découvrir le Front-End, le&nbsp;Back-End, l'algorithmie, Wamp et&nbsp;Notepad, le&nbsp;droit, l'alternance, les&nbsp;soirées étudiantes et&nbsp;ma&nbsp;meilleure amie.</p>
                        <p>ITIC PARIS<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-11 col-11 parcours p2">
                    <div>
                        <p>Licence Pro. Systèmes<br>Informatiques et&nbsp;Logiciel</p>
                        <p>de 2015 à 2016</p>
                        <p>Aller plus loin dans les&nbsp;métiers du&nbsp;numérique, réalisation de&nbsp;wireframe, d'une&nbsp;charte graphique, d'une&nbsp;vidéo et&nbsp;du&nbsp;premier projet Symfony.</p>
                        <p>CFA UPMC<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-11 col-11 parcours p3">
                    <div>
                        <p>Master<br>Développement Web</p>
                        <p>de 2017 à 2019</p>
                        <p>S'ouvrir à tous les langages&nbsp;: CSS, JS, React, Angular, PHP. Participer à&nbsp;des&nbsp;Hackathons. Devenir plus professionnelle avec les&nbsp;bons outils, le&nbsp;bon réseau et&nbsp;les&nbsp;bons amis.</p>
                        <p>ECV Digital<br><span>Paris, France</span></p>
                    </div>
                </div>
                <div class="col"></div>
            </div>

        </div>

    </div>

    {# Parcours professionnel #}
    <div class="row" id="professionnel">
        <div class="col-xxl-6 col-xl-6 col-lg-10 col-md-12 col-sm-12 left">
            <h2>Mon parcours pro</h2>
            <p>L'alternance a été un&nbsp;bénéfice dans mes&nbsp;études et&nbsp;dans mon&nbsp;apprentissage professionnel. Cela&nbsp;m'a permis de&nbsp;gagner en&nbsp;confiance, d'expérimenter et&nbsp;de&nbsp;m'améliorer chaque jour. C'est&nbsp;un&nbsp;réel atout avant d'être jeter dans le&nbsp;monde du&nbsp;travail.</p>
        </div>
    </div>

    <div class="row" id="professionnel-2">

        <div class="col-xxl-6 col-xl-5 col-lg-5 col-md-5 col-sm-12 left">
            <img src="{{ asset('images/parcours-pro.png') }}" alt="Forme verte sur un écran d'ordinateur portable" class="forme">
            <img src="{{ asset('forme/blob-parcours-pro.svg') }}" alt="Forme grise avec opacité" class="forme-2">

            <div>
                <img src="{{ asset('picto/cv.svg') }}" alt="Un CV en filaire blanc">
                <p>Pour en&nbsp;savoir plus sur&nbsp;moi, n’hésitez pas à&nbsp;télécharger mon&nbsp;CV complet au&nbsp;format PDF (et&nbsp;à&nbsp;l’accrocher au-dessus de&nbsp;votre bureau)&nbsp;:</p>
                <button class="btn"><a href="{{ asset('pdf/CV-Marine-LANCELIN.pdf') }}" target="_blank" title="Télécharger mon CV"> <img src="{{ asset('picto/download.svg') }}" alt="Télécharger"> Télécharger mon CV </a></button>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-7 col-lg-12 col-md-12 col-sm-12 right">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>Développeur web freelance</p>
                            <p>Paris (75) &#149; <span>de septembre 2019 à&nbsp;aujourd’hui</span></p>
                            <p>Premiers pas dans l'entrepreneuriat. Réalisation de&nbsp;sites vitrines pour G2F&nbsp;Solutions...</p>
                        </td>
                        <td class="bullet">2019</td>
                    </tr>
                    <tr>
                        <td>
                            <p>CIMAYA</p>
                            <p>Paris (75) &#149; <span>de février 2019 à&nbsp;aujourd’hui</span></p>
                            <p>Premier emploi à responsabilités. Développement de&nbsp;l'intranet - HTML/CSS/Bootstrap/jQuery/Symfony. Réalisation de&nbsp;sites vitrines clients - WordPress.</p>
                        </td>
                        <td class="bullet">2016</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Emedia Communication</p>
                            <p>Saint-Maur (94) &#149; <span>de octobre 2015 à&nbsp;novembre 2015</span></p>
                            <p>Premier contrat en alternance. Débug d’une application développée en&nbsp;interne HTML/PHP/JS.</p>
                        </td>
                        <td class="bullet">2015</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Banque de gestion Edmond de&nbsp;Rothschild</p>
                            <p>Paris (75) &#149; <span>août 2015</span></p>
                            <p>Première digitalisation. Archivage et suivi des&nbsp;dossiers sur 10 ans dans le&nbsp;Service Succession.</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Hôpital Necker-Enfants malades<br>&amp; Hôpital Saint-Louis</p>
                            <p>Paris (75) &#149; <span>octobre 2014 à&nbsp;juin 2014</span></p>
                            <p>Première collaboration utilisateur. Participation au&nbsp;projet AGHATE (Agenda de&nbsp;Gestion des&nbsp;Hospitalisations Ambulatoires et&nbsp;ThErapeutiques) – HTML/PHP/SQL/jQuery/JavaScript.</p>
                        </td>
                        <td class="bullet">2014</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Hôpital Necker-Enfants malades</p>
                            <p>Paris (75) &#149; <span>juin 2014 à&nbsp;juillet 2014</span></p>
                            <p>Premier projet PHP. Réalisation de&nbsp;l’annuaire électronique de&nbsp;l’hôpital HTML/CSS/Bootstrap/PHP/SQL.</p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>HSBC</p>
                            <p>Paris (75) &#149; <span>août 2013</span></p>
                            <p>Première expérience professionnelle. Relance régulière des&nbsp;chefs de&nbsp;projet sur&nbsp;l’état d’avancement des&nbsp;projets.</p>
                        </td>
                        <td class="bullet">2013</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    {# Fun facts #}
    <div class="row" id="fun-facts">

        <div class="col-xxl-4 col-xl-5 col-lg-12 col-md-12 col-sm-12 left align-self-center">
            <h2>Fun facts</h2>
            <p>Et non, les développeurs ne&nbsp;font pas&nbsp;que&nbsp;coder à&nbsp;longueur de&nbsp;temps, enfermés dans un&nbsp;sous-sol. Certains <a href="https://www.instagram.com/cloclo_marinette/" target="_blank">voyagent en&nbsp;Europe</a>, découvrent, lisent, binge watch, sortent se&nbsp;balader, prennent des&nbsp;photos, sociabilisent aussi.</p>
            <p>Personnellement, je ne&nbsp;râte pas un&nbsp;match du&nbsp;XV de&nbsp;France, je&nbsp;lis dans le&nbsp;métro, je&nbsp;ne&nbsp;passe pas un&nbsp;été sans prendre un&nbsp;avion, j'adore retrouver mes&nbsp;amis dans un&nbsp;bar ou&nbsp;à&nbsp;Disneyland Paris, et&nbsp;les&nbsp;prendre en photo pour alimenter le&nbsp;panorama photos que je&nbsp;prépare pour leur mariage...</p>
        </div>

        <div class="col-xxl-8 col-xl-7 col-lg-12 col-md-12 col-sm-12 right">
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-1.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-1.svg') }}" alt="Deux passeports" class="fact">
                    <p><span>30 pays visités</span><br>le plus beau&nbsp;: la&nbsp;Thaïlande</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-2.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-2.svg') }}" alt="Un appareil photo et une lune" class="fact">
                    <p><span>Photographe amatrice</span><br>Paris, la nuit et&nbsp;les&nbsp;voyages</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-3.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-3.svg') }}" alt="Un ballon de rugby" class="fact">
                    <p><span>Fan de rugby</span><br>supportrice du&nbsp;Stade Français et&nbsp;du&nbsp;XV de&nbsp;France</p>
                </div>
            {# </div> #}
            {# <div class="row"> #}
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-4.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-4.svg') }}" alt="La tête de Mickey" class="fact">
                    <p><span>Parc Disneyland</span><br>détentrice d’un pass annuel</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-5.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-5.svg') }}" alt="Un pot de pop-corn et un écran télé avec le logo de Netflix" class="fact">
                    <p><span>100 séries regardées</span><br>plus de 5 100 épisodes&nbsp;!</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <img src="{{ asset('forme/blob-fun-fact-6.svg') }}" alt="Forme verte" class="forme">
                    <img src="{{ asset('picto/fun-fact-6.svg') }}" alt="Deux livres empilés" class="fact">
                    <p><span>Lectrice quotidienne</span><br>record de 2 livres par semaine (en&nbsp;vacances)</p>
                </div>
            </div>
        </div>

    </div>
    
    {# Contact #}
    <div class="row" id="contact">

        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-6 col-md-12 col-sm-12" id="contact-intro">
                    <h2>Contact</h2>
                    {# TODO:<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus eu diam non vestibulum. Phasellus sit amet lectus sed eros pharetra venenatis non sit amet.</p> #}
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>

                {{ form_start(form, {'attr': {'class': 'col-xl-8 col-lg-10 col-md-11 col-sm-12'}}) }}

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-11 col-11">
                        <div class="row">
                            {{ form_row(form.prenom) }}
                            {{ form_row(form.nom) }}
                        </div>

                        <div class="row">
                            {{ form_row(form.email) }}
                        </div>

                        <div class="row">
                            {{ form_row(form.telephone) }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-11 col-11">
                        <div class="row" id="row-message">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-11 col-11">
                        <button type="submit" id="contact_save" name="contact[save]" class="btn-primary btn"> <img src="{{ asset('picto/send.svg') }}" alt="Envoyer"> Envoyer</button>
                    </div>
                </div>

                {{ form_end(form) }}

                <div class="col"></div>

            </div>

            <div class="row">
                
                <div class="col"></div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('fail') %}
                        <div class="alert alert-fail">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col"></div>
            </div>

        </div>
    </div>

{% endblock %}
