<!DOCTYPE html>

<html lang="fr">

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R4XKZNVKSN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-R4XKZNVKSN');
        </script>

        <title>{% block title %}{% endblock %}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://marinelancelin.fr">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Marine LANCELIN - Portfolio développeuse : Symfony, PHP, freelance">
        <meta property="og:description" content="Découvrez mon portfolio de développeuse Symfony, PHP et en tant que freelance.">
        <meta property="og:image" content="{{ asset('images/opengraph.png') }}">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="marinelancelin.fr">
        <meta property="twitter:url" content="https://marinelancelin.fr">
        <meta name="twitter:title" content="Marine LANCELIN - Portfolio développeuse : Symfony, PHP, freelance">
        <meta name="twitter:description" content="Découvrez mon portfolio de développeuse Symfony, PHP et en tant que freelance.">
        <meta name="twitter:image" content="{{ asset('images/opengraph.png') }}">

        <!-- Meta Tags Generated via https://www.opengraph.xyz -->

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "site/menu.html.twig" %}

        <section>
            {% block body %}{% endblock %}
        </section>

        {% include "site/footer.html.twig" %}

        <script src="{{ asset('js/jquery-3.5.0.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/site.js') }}"></script>
        {% block javascripts %}{% endblock %}

        {# {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}
        {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %} #}

        <script>
            window.axeptioSettings = {
            clientId: "630dcef37b9b91c4d791fc5d",
            };
            
            (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
            })(document, "script");
        </script>

    </body>
</html>
