{% extends 'base_back.html.twig' %}

{% block title %}Les projets{% endblock %}

{% block body_class %}app projet{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Les projets</h1>
        </div>
    </div>

    <div class="row button">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a href="{{ path('app_projet_add') }}"><button class="btn"> <img src="{{ asset('picto/plus.svg') }}" alt="Plus"> Créer</button></a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col"></div>
        <div class="col-lg-11 col-md-11 col-sm-12">

            <table class="table">

                <thead>
                    <tr>
                        <th></th>
                        <th class="center">Année</th>
                        <th>Titre</th>
                        <th>Tags</th>
                        <th class="center">Description</th>
                        <th class="center">Github</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for projet in projets %}
                        <tr {% if projet.etat == 0 %}class="deactive"{% endif %}
                        >
                            <td class="center"><span class="{% if projet.etat %}active{% else %}inactive{% endif %}"></span></td>
                            <td class="center">{{ projet.annee }}</td>
                            <td>{{ projet.titre }}</td>
                            <td>
                                {% for tag in projet.tags %}
                                    {{ tag.libelle }} {% if not loop.last %};{% endif %}
                                {% endfor %}
                            </td>

                            <td class="center"><span class="{% if projet.description %}active{% else %}inactive{% endif %}"></span></td>

                            <td class="center">
                                {% if projet.github != null %}
                                    <a href="{{ projet.github }}" target="_blank" title="Ouvrir le projet">
                                        <span class="active"></span>
                                    </a>
                                {% else %}
                                    <span class="inactive"></span>
                                {% endif %}
                            </td>

                            <td class="actions">
                                <a href="{{ path('app_projet_edit', { 'id' : projet.id }) }}" title="Modifier le projet"><img src="{{ asset('picto/pen.svg') }}" alt="Modifier le projet"></a>
                                <a href="{{ projet.lien }}" target="_blank" title="Ouvrir le projet"><img src="{{ asset('picto/redirect.svg') }}" alt="Ouvrir le projet"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td>
                            <td colspan="3">Aucune donnée dans le tableau</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="col"></div>
    </div>

    

{% endblock %}
